
#addNewProductButton{
    margin: 10px;
        color: white;
        background-image: linear-gradient( #F2CEDA, #D23166);
        border: 1px solid #D23166;
    }
    #addNewProductButton:hover{
        color: #D23166;
        border:1px solid #D23166;
        background: #F2CEDA;
    }